.welcome-day {
  @include bg-day(to top, "./assets/bgAtWelcome/welcomeAtDay.jpg", "./assets/bgAtWelcome/minifiedWelcomeAtDay.jpeg");
}

.welcome-night {
  @include bg-night(to top, "./assets/bgAtWelcome/welcomeAtNight.jpg", "./assets/bgAtWelcome/minifiedWelcomeAtNight.jpeg");
}

.day-clear {
  @include bg-day(to right, "./assets/bgAt4K/dayClear.jpg", "./assets/bgAt4K/minifiedDayClear.jpeg");
}

.day-mainly-clear {
  @include bg-day(to right, "./assets/bgAt4K/dayMainlyClear.jpg", "./assets/bgAt4K/minifiedDayMainlyClear.jpeg");
}

.day-partly-cloudy {
  @include bg-day(to right, "./assets/bgAt4K/dayPartlyCloudy.jpg", "./assets/bgAt4K/minifiedDayPartlyCloudy.jpeg");
}

.day-overcast {
  @include bg-day(to right, "./assets/bgAt4K/dayOvercast.jpg", "./assets/bgAt4K/minifiedDayOvercast.jpeg");
}

.day-foggy {
  @include bg-day(to right, "./assets/bgAt4K/dayFoggy.jpg", "./assets/bgAt4K/minifiedDayFoggy.jpeg");
}

.day-drizzle {
  @include bg-day(to right, "./assets/bgAt4K/dayDrizzle.jpg", "./assets/bgAt4K/minifiedDayDrizzle.jpeg");
}

.day-rainy {
  @include bg-day(to right, "./assets/bgAt4K/dayRainy.jpg", "./assets/bgAt4K/minifiedDayRainy.jpeg");
}

.day-snowy {
  @include bg-day(to right, "./assets/bgAt4K/daySnowy.jpg", "./assets/bgAt4K/minifiedDaySnowy.jpeg");
}

.day-showers {
  @include bg-day(to right, "./assets/bgAt4K/dayShowers.jpg", "./assets/bgAt4K/minifiedDayShowers.jpeg");
}

.day-stormy {
  @include bg-day(to right, "./assets/bgAt4K/dayStormy.jpg", "./assets/bgAt4K/minifiedDayStormy.jpeg");
}

.night-clear {
  @include bg-night(to right, "./assets/bgAt4K/nightClear.jpg", "./assets/bgAt4K/minifiedNightClear.jpeg");
}

.night-mainly-clear {
  @include bg-night(to right, "./assets/bgAt4K/nightMainlyClear.jpg", "./assets/bgAt4K/minifiedNightMainlyClear.jpeg");
}

.night-partly-cloudy {
  @include bg-night(to right, "./assets/bgAt4K/nightPartlyCloudy.jpg", "./assets/bgAt4K/minifiedNightPartlyCloudy.jpeg");
}

.night-overcast {
  @include bg-night(to right, "./assets/bgAt4K/nightOvercast.jpg", "./assets/bgAt4K/minifiedNightOvercast.jpeg");
}

.night-foggy {
  @include bg-night(to right, "./assets/bgAt4K/nightFoggy.jpg", "./assets/bgAt4K/minifiedNightFoggy.jpeg");
}

.night-drizzle {
  @include bg-night(to right, "./assets/bgAt4K/nightDrizzle.jpg", "./assets/bgAt4K/minifiedNightDrizzle.jpeg");
}

.night-rainy {
  @include bg-night(to right, "./assets/bgAt4K/nightRainy.jpg", "./assets/bgAt4K/minifiedNightRainy.jpeg");
}

.night-snowy {
  @include bg-night(to right, "./assets/bgAt4K/nightSnowy.jpg", "./assets/bgAt4K/minifiedNightSnowy.jpeg");
}

.night-showers {
  @include bg-night(to right, "./assets/bgAt4K/nightShowers.jpg", "./assets/bgAt4K/minifiedNightShowers.jpeg");
}

.night-stormy {
  @include bg-night(to right, "./assets/bgAt4K/nightStormy.jpg", "./assets/bgAt4K/minifiedNightStormy.jpeg");
}

.bg {
  aspect-ratio: 16/9;
}

.welcome-logo-icon,
.logo-icon,
.nav-icon,
.swap-icon,
.reload-icon,
.weather-icon {
  @include icon($clr-offWhite);
}

.menu .nav-icon {
  @include icon($clr-offBlack);
}

.logo-link,
.nav-link:not(.menu .nav-link) {
  @include link($clr-offWhite);
}

.menu .nav-link {
  @include link($clr-offBlack);
}

.custom-btn {
  @include button();
}

.mobile-navbar {
  @include mobile-navbar();
}

.tab-bar {
  @include tab-bar();
}

.title {
  font-size: calc(1.5rem + 3vw);
}

.para {
  font-size: calc(0.75rem + 0.25vw);
}

.fs-7 {
  @include fs-7();
}

.spin {
  @include spinners;
}

.carousel {
  @include carousel();
}

.carousel-control-prev,
.carousel-control-next {
  width: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.widgets {
  @include widgets();
}
