@use 'sass:color';
@import './variables';

@mixin bgOptions {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin bgAtDay($dir, $Overlay, $minifiedOverlay) {
  background-image: 
    linear-gradient($dir, rgba($offBlack, 0.75), rgba($offBlack, 0.5), rgba($offBlack, 0.25), transparent),
    url($Overlay),
    url($minifiedOverlay);
  @include bgOptions();
}

@mixin bgAtNight($dir, $Overlay, $minifiedOverlay) {
  background-image: 
    linear-gradient($dir, rgba($offBlack, 0.66), rgba($offBlack, 0.33), transparent),
    url($Overlay),
    url($minifiedOverlay);
  @include bgOptions();
}

@mixin customBtn($pill) {
  border: 1px solid rgba($offBlack, 0.25);
  background-image: linear-gradient(45deg, darken($offWhite, 25%), $offWhite);
  box-shadow: 
    inset 2px -1px 1px 1px rgba($offWhite, 0.5),
    inset -3px 2px 5px 1px rgba($offBlack, 0.25),
    4px 1px 1px 0 rgba($offBlack, 0.25),
    -1px -3px 1px 0 rgba($offBlack, 0.25),
    4px -3px 1px 0 rgba($offBlack, 0.25),
    -1px -1px 5px 0 rgba($offBlack, 0.25);

  @if $pill {
    width: auto;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
  } @else {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.5rem;
  }

  & .icon {
    width: 2rem;
    height: 2rem;

    & .path {
      fill: lighten($offBlack, 25%);
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;

    & .icon {
      & .path {
        fill: $offBlack;
      }
    }
  }

  &:active {
    box-shadow: 
      inset 2px -1px 1px 2px rgba($offWhite, 0.5),
      inset -3px 2px 5px 0 rgba($offBlack, 0.25),
      3px 1px 1px 0 rgba($offBlack, 0.25),
      -1px -1px 1px 0 rgba($offBlack, 0.25),
      3px -1px 1px 0 rgba($offBlack, 0.25),
      -1px -1px 5px 0 rgba($offBlack, 0.25),
      4px 0 1px 0 rgba(darken($offWhite, 75%), 0.5);
    transform: translate(1px, -1px);
  }

  @media screen and (width >= 576px) {
    @if $pill {
      border-radius: 2.5rem;
      padding: 0.75rem 2.5rem;
    } @else {
      width: 3.5rem;
      padding: 0.75rem;
    }
  }

  @media screen and (width >= 1024px) {
    @if $pill {
      border-radius: 3rem;
      padding: 1rem 3rem;
    } @else {
      width: 4rem;
      padding: 1rem;
    }
  }
}