@use "sass:color";
@import "./variables";
@import "../utils/animations";

@mixin bg-options {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin bg-day($dir, $optimizedOverlay, $minifiedOverlay) {
  background-image: 
    linear-gradient($dir, $opq-offBlack-75, $opq-offBlack-50, $opq-offBlack-25, transparent),
    url($optimizedOverlay),
    url($minifiedOverlay);
  @include bg-options();
}

@mixin bg-night($dir, $optimizedOverlay, $minifiedOverlay) {
  background-image: 
    linear-gradient($dir, $opq-offBlack-50, $opq-offBlack-25, transparent),
    url($optimizedOverlay),
    url($minifiedOverlay);
  @include bg-options();
}

@mixin mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: all 0.7s ease-in;

  &.open {
    background-color: transparent;
    backdrop-filter: blur(3px);
  }

  &.closed {
    transform: translateX(100%);
  }

  & .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $clr-offWhite;
    padding-inline: 4rem 1rem;
    border-left: 1px solid darken($clr-offWhite, 25%);
  }
}

@mixin tab-bar {
  display: inline-block;
  background-image: linear-gradient(to right, $opq-offBlack-75, $opq-offBlack-50);
  @include bg-options();
  border-radius: 2.5rem;
  padding: 0.5rem;
  z-index: 1;
  width: calc(100% - 1rem);
  transition: all 0.7s ease-in;

  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;

  & .tab-link {
    text-decoration: none;
    width: 50%;
    text-align: center;
    & .text {
      color: $opq-offWhite-75;
      &:hover,
      &:focus {
        color: $clr-offWhite;
      }
    }
    &.active {
      background-image: linear-gradient(to right, $opq-offWhite-75, $opq-offWhite-50);
      padding: 0.75rem;
      border-radius: 1.75rem;
      & .text {
        color: $opq-offBlack-75;
      }
    }
  }

  @media screen and (width >= 768px) {
    width: 40%;
    position: absolute;
    bottom: 1rem;
  }
}

@mixin fs-7 {
  font-size: $fnt-size-075;
}

@mixin spinners {
  & .svg {
    & .clockwise {
      animation: clockwise 3s linear infinite;
      transform-box: fill-box;
      transform-origin: center;
    }
    
    & .counterclockwise {
      animation: counterclockwise 3s linear infinite;
      transform-box: fill-box;
      transform-origin: center;
    }
  }
}

@mixin button {
  text-decoration: none;

  & .btn-container {
    background-color: $clr-offWhite;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
    border: 1px solid lighten($clr-offBlack, 75%);
    border-radius: 2rem;
    padding: 0.125rem;

    & .btn-icon {
      @include icon($opq-offBlack-50);
      border: 1px solid lighten($clr-offBlack, 75%);
      border-radius: 50%;
      padding: 0.5rem;
    }

    & .text {
      font-size: 0.75rem;
      font-weight: 700;
      color: $opq-offBlack-50;
      margin-left: calc(0.75rem - 0.125rem);
    }

    &:hover,
    &:focus {
      border-color: darken($clr-offWhite, 33%);
      & .btn-icon {
        border-color: darken($clr-offWhite, 33%);
        & .svg {
          & .path {
            fill: $clr-offBlack;
          }
          & .shape {
            stroke: $clr-offBlack;
          }
        }
      }
      & .text {
        color: $clr-offBlack;
      }
    }
  }

  @media screen and (width >= 1024px) {
    & .btn-container {
      border-radius: 2.5rem;
      gap: 1rem;
      & .text {
        font-size: 1rem;
        margin-left: calc(1rem - 0.125rem);
      }
    }
  }
}

@mixin link($clr) {
  $opq-clr: rgba($clr, 0.5);
  text-decoration: none;

  & .link-icon {
    @include icon($opq-clr);
  }

  & .text {
    color: $opq-clr;
  }

  &.active {
    & .link-icon {
      @include icon($clr);
    }
    & .text {
      color: $clr;
      text-decoration: underline;
      text-decoration-color: $clr;
      text-underline-offset: 0.25rem;
    }
  }

  &:hover,
  &:focus {
    & .link-icon {
      @include icon($clr);
    }
    & .text {
      color: $clr;
    }
  }
}

@mixin icon($clr) {
  $opq-clr: rgba($clr, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  & .svg {
    width: 1.5rem;
    aspect-ratio: 1;
    & .path,
    & .group {
      fill: $clr;
    }
    & .shape {
      stroke: $clr;
    }
  }

  &.drop {
    & .path,
    & .group {
      fill: $opq-clr;
    }
    & .shape {
      stroke: $opq-clr;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      & .path,
      & .group {
        fill: $clr;
      }
      & .shape {
        stroke: $clr;
      }
    }
  }

  &.oversized {
    & .svg {
      width: calc(2rem + 5vw);
    }
  }

  @media screen and (width >= 1024px) {
    & .svg {
      width: 2rem;
    }
  }
}

@mixin carousel {
  & .carousel-inner {
    border-radius: 0.75rem;
    & .carousel-item {
      padding: 0.5rem 2rem;
      @include bg-options();
      & .carousel-caption {
        position: static;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
      }
    }
  }

  @media screen and (width < 768px) {
    & .carousel-inner {
      & .carousel-item {
        &.temp {
        background-image: 
          linear-gradient(to right, $opq-offBlack-75, $opq-offBlack-50, $opq-offBlack-25),
          url("../src/assets/bgAtWidgets/temperature.jpg"),
          url("../src/assets/bgAtWidgets/minifiedTemperature.jpg");
        }
        &.hum {
          background-image: 
            linear-gradient(to right, $opq-offBlack-75, $opq-offBlack-50, $opq-offBlack-25),
            url("../src/assets/bgAtWidgets/humidity.jpg"),
            url("../src/assets/bgAtWidgets/minifiedHumidity.jpg");
        }
      }
    }
  }

  @media screen and (width >= 576px) and (width < 768px) {
    width: 50%;
  }

  @media screen and (width >= 768px) {
    & .carousel-inner {
      & .carousel-item {
        &.temp,
        &.hum {
          background-image: linear-gradient(to right, $opq-offBlack-75, $opq-offBlack-50);
        }
      }
    }
  }
}

@mixin widgets {
  border-radius: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 0.5rem 5rem;

  @media screen and (width >= 576px) {
    flex-direction: row;
  }

  @media screen and (width >= 768px) {
    flex-direction: column;
    margin-block: 0;
    width: 40%;
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
  }
}
