/*
 Name: Web Weather Hub.
 Description: A live weather forecast app.
 Author: Federico Borzani
 GitHub: https://github.com/eserengo/
*/

@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./scss/abstracts/mapAmends";

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-body-font-family: "Inter", sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-bg: $offWhite;
  --bs-body-color: $offBlack;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

.welcomeAtDay {
  @include bgAtDay(to top, "./assets/welcome/optimizedWelcomeAtDay.jpg", "./assets/welcome/minifiedWelcomeAtDay.jpeg");
}

.welcomeAtNight {
  @include bgAtNight(to top, "./assets/welcome/optimizedWelcomeAtNight.jpg", "./assets/welcome/minifiedWelcomeAtNight.jpeg");
}

.getStarted {
  @include customBtn(false);
}
