@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./scss/utils/mapAmends";

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --bs-body-font-family: "Inter", sans-serif;
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-bg: $clr-offWhite;
  --bs-body-color: $clr-offBlack;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

@import "./scss/utils/classes"
